name: Release workflow

on:
  push:
    tags:
      - "v[0123456789].*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"
      - name: publish
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry==2.1.4
          poetry install --with dev
          poetry self install poetry-dynamic-versioning
          poetry publish --repository=ct-cloud-storage-mocker --password=${{ secrets.PYPI_API_TOKEN }} --username=__TOKEN__ --build

